/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
/* @import url('https://fonts.googleapis.com/css?family=Open Sans'); */
@import url('https://fonts.googleapis.com/css?family=Avenir');
/* @import url('https://fonts.googleapis.com/css?family=Noto Sans JP'); */

/* Global Styles */
:root {
    --primary-color: #ef7c01;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --text-color: #000;
    --nav-size: 60px;
    --sidebar-width: 260px;
    --speed: 500ms;
    --thick-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.19);
    --thin-shadow: 1px 1px 10px 0 rgb(212, 212, 212);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Avenir', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    /* height: 100%; */
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: #666;
}

ul {
    list-style: none;
}

img {
    height: 100%;
}

.main {
    /* margin-top: calc(var(--nav-size) * 1.2); */
    width: 100%;
}

.main-shift {
    width: calc(100% - var(--sidebar-width));
}

.shift {
    max-width: calc(100% - var(--sidebar-width));
}

/* CSS Transitions */
.shift-enter {
    max-width: 100%;
}

.shift-enter-active {
    max-width: calc(100% - var(--sidebar-width));
    transition: all 300ms ease;
}

.shift-exit {
    max-width: calc(100% - var(--sidebar-width));
}

.shift-exit-active {
    max-width: 100%;
    transition: all 300ms ease;
}

/* Utilities */
.container {
    text-align: center;
    max-width: 90%;
    height: 90%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    padding-bottom: 50px;
}

.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

/* Text Styles*/
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-color);
}

.text-dark {
    color: var(--dark-color);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Cards */
.card {
    border-radius: 10px;
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
}

/* List */
.list {
    margin: 0.5rem 0;
}

.list li {
    padding-bottom: 0.3rem;
}

/* Padding */
.p {
    padding: 0.5rem;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.py {
    padding: 0.5rem 0;
}
.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}

/* Margin */
.m {
    margin: 0.5rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.my {
    margin: 0.5rem 0;
}
.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 2rem 0;
}
.my-3 {
    margin: 3rem 0;
}

/* Grid */
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
}

.grid-2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2rem;
}

.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
}

/* timetable module colors */

.btn-module {
    height: 100%;
    width: 100%;
    padding: 0.6em 2.8em 0.4em 0.8em;
    margin: 0;
    border: 0;
    text-align: left;
    /* font-size: 0.75rem; */
    font-size: 1.35vh;
    font-weight: 900;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.module-empty {
    text-align: center;
    padding: 0.6rem;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
    opacity: 0%;
}

.module-empty:hover {
    opacity: 60%;
}

.module-empty-selected {
    text-align: center;
    padding: 0.6rem;
    opacity: 60%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: filter 300ms;
}

.module-empty-selected:hover {
    transition: filter 300ms;
    filter: brightness(1.2);
}

.module-red {
    color: #931316;
    background-color: #f2777a;
    border-bottom: 3px solid #e91a1f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.module-orange {
    color: #7e3204;
    background-color: #f99157;
    border-bottom: 3px solid #e25608;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.module-yellow {
    color: #996600;
    background-color: #ffcc65;
    border-bottom: 3px solid #ffaa00;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.module-green {
    color: #336633;
    background-color: #99cc99;
    border-bottom: 3px solid #55aa55;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.module-cyan {
    color: #1a4d4d;
    background-color: #66cccc;
    border-bottom: 3px solid #339999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.module-darkblue {
    color: #1b334d;
    background-color: #6699cc;
    border-bottom: 3px solid #336699;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.module-purple {
    color: #653366;
    background-color: #cc99cc;
    border-bottom: 3px solid #aa55aa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.module-brown {
    color: #582e19;
    background-color: #d27b53;
    border-bottom: 3px solid #974b28;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-link {
    background: none;
    padding: 0;
    margin: 0;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-sm {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
    margin-right: 0.2rem;
}

.badge {
    font-size: 0.8rem;
    padding: 0.2rem 0.7rem;
    text-align: center;
    margin: 0.3rem;
    background: var(--light-color);
    color: #333;
    border-radius: 5px;
}

.alert {
    padding: 0.7rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
    background: var(--light-color);
    color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
    background: var(--danger-color);
    color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
    background: var(--success-color);
    color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}

.btn:hover {
    opacity: 0.8;
}

.bg-light,
.badge-light {
    border: #ccc solid 1px;
}

.round-img {
    border-radius: 50%;
}

/* Forms */
input {
    margin: 1.2rem 0;
}

.form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

input[type='submit'],
button {
    font: inherit;
}

.form-group {
    margin: 1.2rem 0;
}

.form-group input {
    margin: 0.2rem 0;
}

.form-container {
    max-width: 500px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 0 2rem;
}

.form-container h1,
h2,
h3 {
    text-align: center;
}

table th,
table td {
    padding: 1rem;
    text-align: left;
}

table th {
    background: var(--light-color);
}

/* Navbar */
.navbar {
    display: flex;
    height: var(--nav-size);
    /* eventually, i want the navbar to be in a fixed pos */
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1.5rem 0.7rem 0.8rem;
    z-index: 1;
    width: 100%;
    border-bottom: solid 1px #ad5a00;
    box-shadow: var(--thick-shadow);
    opacity: 1;
    /* margin-bottom: 1rem; */
}

.navbar-shift {
    display: flex;
    height: var(--nav-size);
    /* eventually, i want the navbar to be in a fixed pos */
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1.5rem 0.7rem 0.8rem;
    z-index: 1;
    width: calc(100% - var(--sidebar-width));
    border-bottom: solid 1px #ad5a00;
    box-shadow: var(--thick-shadow);
    opacity: 1;
    /* margin-bottom: 1rem; */
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-icon {
    width: var(--button-size);
    height: var(--button-size);
    margin: 0;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background 300ms;
}

.nav-menu-icon:hover {
    background-color: #f59a3a;
}

.menu-selected {
    filter: brightness(1.2);
    background-color: #f59a3a;
}

.nav-text {
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-right: 1rem;
    margin: 0;
}

/* icon button with a circular shape */
.icon-button {
    --button-size: calc(var(--nav-size) * 0.6);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #f59a3a;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}
/* 
.icon-button-selected {
    --button-size: calc(var(--nav-size) * 0.6);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #f59a3a;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    filter: brightness(1.2);
} */

.icon-button:hover,
.menu-item:hover {
    filter: brightness(1.2);
}

.button-selected,
.menu-item:hover {
    filter: brightness(1.2);
}

.icon-button i {
    fill: var(--text-color);
    align-items: center;
    justify-content: center;
    /* width: 15px;
	height: 15px; */
    font-size: 0.9em;
}

.dropdown {
    position: absolute;
    margin: 0;
    top: 58px;
    width: 20vw;
    transform: translateX(-80%);
    background-color: #c2c2c2b7;
    border-radius: 10px;
    border-bottom: solid 1px rgb(110, 110, 110);
    box-shadow: var(--thick-shadow);
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dropdown li {
    margin: 2.5px 0px;
}

/* CSS Transitions for dropdown */
.menu-primary-enter {
    position: absolute;
    transform: translateX(110%);
}
.menu-primary-enter-active {
    transform: translateX(-80%);
    transition: all 300ms ease;
}
.menu-primary-exit {
    position: absolute;
}
.menu-primary-exit-active {
    transform: translateX(40%);
    transition: all 300ms ease;
}

/* .menu-primary-enter {
    position: absolute;
    height: 0;
}
.menu-primary-enter-active {
    height: 100%;
    transition: all 300ms ease;
}
.menu-primary-exit {
    height: 100%;
    position: absolute;
}
.menu-primary-exit-active {
    height: 0;
    transition: all 300ms ease;
} */

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    background-color: var(--primary-color);
    border-bottom: solid 1px #333;
    transition: filter background var(--speed);
    padding: 0.5rem;
}

.menu-item i {
    margin-right: 10px;
}

/* .navbar ul {
    display: flex;
} */

.navbar a,
.navbar-shift a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
}

img#nus-logo {
    height: 35px;
    width: auto;
    margin-right: 0.5rem;
    align-self: center;
    justify-content: center;
}

.navbar a:hover {
    color: var(--light-color);
}

.navbar .welcome span {
    margin-right: 0.6rem;
}

.menu {
    width: 100%;
}

/* Animation (Add After) */

.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

/* Mobile Styles */
@media (max-width: 700px) {
    .hide-sm {
        display: none;
    }

    .grid-2,
    .grid-3,
    .grid-4 {
        grid-template-columns: 4fr;
    }

    /* Text Styles */
    .x-large {
        font-size: 3rem;
    }

    .large {
        font-size: 2rem;
    }

    .lead {
        font-size: 1rem;
    }

    /* Navbar */
    .navbar {
        display: block;
        text-align: center;
    }

    .navbar h1 {
        margin-bottom: 0.6rem;
    }

    .navbar ul {
        text-align: center;
        justify-content: center;
    }
}

.Trash {
    float: right;
    width: 25px;
    height: 25px;
}

.time-card {
    border-radius: 5px;
    background-color: #e0e0e0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.6rem;
    border-bottom: solid 3px rgb(196, 194, 194);
    /* border: solid 1px rgb(124, 124, 124); */
    box-shadow: 1px 1px 10px 0 rgb(212, 212, 212);
    margin: auto;
}

.time-card-text {
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
}

.cart {
    overflow: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    border: 3px solid rgb(124, 124, 124);
    border-radius: 15px;
    margin: 3px;
    padding: 6px;
    text-align: left;
    font-size: 0.9rem;
    width: var(--sidebar-width);
    background-color: rgb(189, 189, 189);
}

.cart-item button {
    float: right;
}

.current {
    background-color: #282c34;
}

.ranking {
    position: absolute;
    top: 8vh;
    left: 4vw;
    bottom: 16vh;
    border-radius: 10px;
    width: calc((100% - var(--sidebar-width)) * 0.9);
    border: 1px solid grey;
    border-bottom: 4px solid grey;
    box-shadow: 1px 1px 10px 0 rgb(167, 167, 167);
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    outline: none;
}

.ranking-container {
    height: 90%;
    width: 95%;
    padding: 8vh 6vw;
    border-radius: 10px;
    border: solid 1px #333;
}

.ranking-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
}

.ranking-item {
    border: 1px solid rgb(124, 124, 124);
    border-radius: 10px;
    /* margin: auto; */
    padding: 10px;
    margin: 3px;
    font-size: 0.8rem;
    text-align: left;
    background-color: rgb(189, 189, 189);
}

.ranking-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(160, 160, 160, 0.5);
}

.sidebar {
    margin-top: var(--nav-size);
    /* height: 100%; */
    /* margin: 10px; */
    width: var(--sidebar-width);
    background-color: grey;
    justify-content: center;
    border-radius: 25px;
}

.sidebar h3 {
    width: var(--sidebar-width);
}

#checkout-btn {
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 5px;
}

.home-grid {
    display: grid;
    grid-template-areas:
        'timetable'
        'timetable'
        'search';
}

.ui.table.timetable {
    grid-area: timetable;
    width: 100%;
    margin: auto;
}

.ui.table {
    width: 100%;
}

.search {
    grid-area: search;
}

.unselected {
    border: 3px solid rgb(124, 124, 124);
    border-radius: 15px;
    margin: 3px;
    padding: 6px;
    text-align: left;
    width: 75%;
    background-color: rgb(189, 189, 189);
}

.selected {
    border: 3px solid rgb(124, 124, 124);
    border-radius: 15px;
    margin: 3px;
    padding: 6px;
    text-align: left;
    width: 75%;
    background-color: rgb(189, 189, 189);
    filter: brightness(1.2);
}

.selected:hover {
    opacity: 0.8;
}

.unselected:hover {
    opacity: 0.8;
}

.map h1 {
    position: absolute;
    top: 12rem;
    left: 8rem;
    color: #281414;
    z-index: 10;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: start;
    background: rgba(255, 255, 255, 0.8)
}

.bus-stop {
    margin: 0px;
    padding: 0px;
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

.blue-marker {
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.brown-marker {
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 25px;
    vertical-align: middle;
}

.map h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.busstop {
    background-color: white;
    color: orange;
}